/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common styles */

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    padding: 0 180px 0 210px;
    box-shadow: 3px grey;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* title style start */

.Copa-title{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: blue;
    width: 1800px;
}
.Copa-title h1{
    color: white;
    margin-top: 207px;
    margin-left: 156px;
    font-size: 64px;
    
}
.Copa-title a{
        text-decoration: none;
        Width: 110px; 
        Height :40px;
        Top :464px;
        Left: 156px;
        Padding: 7px 20px 7px 20px;
        background-color: #E02C6D;
        color: white;
        border-radius: 15px;
        margin-left: 156px;     
}
.Copa-title a:hover{
    background-color: violet;
}
.Copa-title img{
    width: 556.01px;
    height: 438px;
}

/* Top Player list */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    margin-top: 70px;
    border: 3px solid white;
    box-shadow: 0px 0px 40px  gray;
    border-radius: 3px;
}
.player img{
    width: 285px;
    height: 236px;  
}
.player img:hover{
    transform: scale(1.2);
    transition: transform 2s ease-in;
}
.player p{
    color: #6C6C6C; 
}
/* finished player style */

/* highlights style */

.highlight .highlight-banner img{
    margin-top: 35px;
    width: 375px;
    height: 175px;
    border: 10px solid white;
    box-shadow: 0px 0px 40px  gray;
    border-radius: 5px;
}
.highlight .highlight-banner img:hover{
    transform: scale(1.2);
    transition: transform 2s ease-in;
}

/*------------------- 
highlight End 
------------*/

/* Footer start */

#footer-area{
    margin-top: 110px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 114px;
}
#footer-area img{
    width: 483.87px;
    height: 110px;
}
#footer-area a{
    text-decoration: none;
    margin-left: 14px;
}
.fa-facebook-f{
    color: #6C6C6C;
}
.fa-instagram{
    color: #6C6C6C;
}
.fa-linkedin-in{
    color: #6C6C6C;
}
.fa-youtube{
    color: #6C6C6C;
}

/* -------
footer ended 
----*/

/* Media queries */

@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .Copa-title .players .highlights{
        grid-template-columns: repeat(1, 1fr);
    }
    .Copa-title .players .highlights{
        flex-direction: column;
    }
}
@media  only screen and (min-width: 688px) and (max-width:992px){
    .container{
        width: 100%;
    }
     .Copa-title .players .highlights{
         grid-template-columns: repeat(2, 1fr);
     }
 } 

    

